body {
    max-width:100%;
}

.top-menu {
    background-color: rgb(95, 66, 177);
    height: 100px;
    margin-bottom: -26px;
}
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    justify-content: center;
    top: -72px;
    
}
.nav li {
    margin-left: 45px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  ul {
    display: flex;
    align-items: center;
    height: 50px;
    font-family: Comic Sans MS, Comic Sans, cursive;

  }
  
  ul a {
    margin-left: 10px;
  }
  
  @media (max-width:770px) {
    .menu {
      display: none;
    }
    .trigger {
      display: inline-block;
      margin: 3px;
      cursor: pointer;
    }
    .trigger i {
      display: block;
      width: 30px;
      height: 6px;
      margin: 4px auto;
      background: #222;
    }
    .show {
      display: block;
    }
  }

.changelang {
    position: relative;
    top: -147px;
    text-align: end;
    left: -28px;
    color: white;
    font-family: Comic Sans MS, Comic Sans, cursive;
    max-height: 0px;
}
.changelang a {
    text-decoration: none;
    color: white;
}

.truckphoto {
    width: 100%;
}
.tsklogo {
    display: block;
    max-width: 100%;
    transition-duration: 2s;
}
.tsklogo:hover {
    transform: scale(1.2);
}
.top-menu-photo {
    max-width: 80px;
}
.phonenumberstext {
    text-align: center;
    position: relative;
    top: -128px;
    display: flex;
    color: wheat;
    justify-content: flex-end;
    left: -114px;
}
.companytext{
    text-align: center;
    position: relative;
    top: -128px;
    display: flex;
    color: wheat;
    justify-content: flex-end;
    font-size: 29px;
    left: -18px;
}
.aboutus {
    background-color: #ca0031;
    text-align: center;
    position: relative;
    top: -130px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: black;
}
.ourpartners {
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -146px;
    position: relative;
    background-color: #4a97c9;
}

.carousel-inner img{
    height: 150px;
}
.w-100 {
    list-style: none;
    width: 350px!important;
    border: 1px solid black;
    border-radius: 25px;
}

 .tyresexample {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 3fr 1fr 3fr 1fr;
 }
 .tyresexample img {
    display: block;
    max-width: 340px;
    max-height: 250px;
    position: relative;
    top: -123px;
    left: 50px;
    transition-duration: 2s;
}
.tyresexample img:hover {
    transform: scale(1.2);
}
.tyresexample p {
    display: block;
    position: relative;
    top: -111px;
    font-family:Comic Sans MS, Comic Sans, cursive;
    font-size: 2rem;
    margin-left: 30px;
}
.forsale {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -100px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
.timercutdown {
    border: 3px solid black;
    border-radius: 25px;
    max-width: 150px;
    background-color: #898a8d;
}
.goforsale {
    background-color: blue;
    border-radius: 25px;
}
.goforsale a {
    color: cornsilk;
    text-decoration: none;
}
.goforsale:hover {
   background-color: black;
}
.forsale {
    background-image: url(../img/firetyre.png);
    background-attachment: fixed;
    background-position-y: -120px;
    background-position-x: center;
    height: 421px;
    position: relative;
    top: -115px;
    max-width: 100%;
    margin-bottom: -115px;
}
.forsalehead {
    position: relative;
    top: -20px;
}
.roadmap {
    max-width: 467px;
    max-height: 355px;
    position: relative;
    left: 62px;
    top: -370px;
    margin-bottom: -140px;
}
@media(max-width: 1240px) {
    .roadmap {
        max-width: 467px;
        max-height: 355px;
        position: relative;
        left: 62px;
        top: -196px;
    }
}
.contacsiformation {
    position: relative;
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color: #898a8d;
    margin-bottom: -135px;
    /*max-height: 621px;*/
}
.contactinformationhead {
    position: relative;
    text-align: center;
}
.contacinformationunderhead {
    position: relative;
    text-align: center;
}
.contactstext {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-left: 25px;
}
.inputmailform {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    right: 146px;
    top: -246px;
    
}
.inputmail {
    position: relative;
    left: 97px;
    border-radius: 25px;
}
.inputphone {
    position: relative;
    left: 97px;
    border-radius: 25px;
}
.inputname {
    position: relative;
    left: 97px;
    border-radius: 25px;
}
.textarea {
    border-radius: 25px;
}
.inputmailform input {
    margin-bottom: 10px;
    position: relative;
    left: 94px;
}
.sendbutton {
    position: relative;
    left: 150px;
    border: 3px solid black;
    background-color: #4a97c9;
    border-radius: 25px;
}
.sendbutton:hover {
    color: red;
    background-color: black;
}
footer {
    background-color: rgb(95, 66, 177);
    position: relative;
    height: 135px;
    margin-bottom: -56px;
    top: 135px;
}
.logofooter {
    transition-duration: 2s;
    flex-wrap: wrap;
    max-width: 67px;
    position: relative;
    left: 12px;
    top: 38px; 
}
.logofooter:hover{
    transform: scale(1.2);
}
.fackebooklogo {
    max-width: 35px;
    border: 1px solid black;
    border-radius: 100px;
    position: relative;
    
    transition-duration: 2s;
}
.fackebooklogo:hover {
    transform: scale(1.2);
}
.emaillogo {
    max-width: 35px;
    border: 1px solid black;
    border-radius: 100px;
    position: relative;
    transition-duration: 2s;
    margin-left: 25px;
}
.emaillogo:hover {
    transform: scale(1.2);
}
.mediainform {
    display: flex;
    justify-content: center;
}
.footermenubar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-bottom: -14px;
    top: -9px;
    position: relative;
}
.foot-menu {
    background-color: rgb(95, 66, 177);
    height: 100px;
    margin-bottom: -26px;
}
.foot-menu ul li {
    margin: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    position: relative;
    top: -90px;
    text-align: center;
    color: white;
    
}
 ul a {
    color: white;
    text-decoration: none;
}
 ul a:hover {
    color: red;
}
.tsklogofooter {
    display: block;
    max-width: 100%;
    transition-duration: 2s;
    position: relative;
    left: 22px;
    top: 32px;
}