body {
    max-width:100%;
}

.top-menu {
    background-color: rgb(95, 66, 177);
    height: 100px;
    margin-bottom: -26px;
}
.topmenubar {
    display: flex; 
    justify-content: center ;
    list-style: none;
}
.top-menu ul li {
    margin: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    position: relative;
    top: -90px;
    text-align: center;
    color: white;
    
}
ul a {
    color: white;
    text-decoration: none;
}
ul a:hover {
    color: red;
}
/*.changelangbox {
    max-width: 100px;
    position: relative;
    left: 970px;
    top: -6px;
} */

.changelang {
    position: relative;
    top: -147px;
    text-align: end;
    left: -28px;
    color: white;
    font-family: Comic Sans MS, Comic Sans, cursive;
    max-height: 0px;
}
.changelang a {
    text-decoration: none;
    color: white;
}
.changelang a:hover {
    color: red;
}
.truckphoto {
    width: 100%;
}
.tsklogo {
    display: block;
    max-width: 100%;
    transition-duration: 2s;
}
.tsklogo:hover {
    transform: scale(1.2);
}
.top-menu-photo {
    max-width: 80px;
}
.phonenumberstext {
    text-align: center;
    left: 96px;
    color: white;
    position: relative;
    top: -94px;
}
.aboutus {
    background-color: #ca0031;
    text-align: center;
    position: relative;
    top: -99px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: black;
}
.ourpartners {
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -115px;
    position: relative;
    background-color: #4a97c9;
}
.patnerscarus {
    max-width: 350px;
}
.forsale {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -100px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
.timercutdown {
    border: 3px solid black;
    border-radius: 25px;
    max-width: 150px;
    background-color: #898a8d;
}
.goforsale {
    background-color: blue;
    border-radius: 25px;
}
.goforsale a {
    color: cornsilk;
    text-decoration: none;
}
.goforsale:hover {
   background-color: black;
}
.forsale {
    background-image: url(../img/тсклого.png);
    background-attachment: fixed;
    background-position-y: -120px;
    background-position-x: center;
    height: 421px;
    position: relative;
    top: -115px;
}
.forsalehead {
    position: relative;
    top: -20px;
}
.roadmap {
    max-width: 455px;
    max-height: 228px;
    position: relative;
    left: 25px;
    top: -408px;
}
.contacsiformation {
    position: relative;
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color: #898a8d;
    top: -115px;
    max-height: 621px;
}
.contactinformationhead {
    position: relative;
    text-align: center;
}
.contacinformationunderhead {
    position: relative;
    text-align: center;
}
.contactstext {
    position: relative;
    left: 30px;
}
.inputmailform {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 146px;
    top: -246px;
    
}
.inputmail {
    position: relative;
    left: 97px;
    border-radius: 25px;
}
.inputphone {
    position: relative;
    left: 97px;
    border-radius: 25px;
}
.inputname {
    position: relative;
    left: 97px;
    border-radius: 25px;
}
.textarea {
    border-radius: 25px;
}
.inputmailform input {
    margin-bottom: 10px;
}
.sendbutton {
    position: relative;
    left: 150px;
    border: 3px solid black;
    background-color: #4a97c9;
    border-radius: 25px;
}
footer {
    background-color: rgb(95, 66, 177);
}
.logofooter {
    transition-duration: 2s;
    display: flex;
    max-width: 50px;
    justify-content: flex-start;
    left: 35px;
}